.Dropdown-root {
    position: relative;
    width: 20rem;
}

.Dropdown-control {
    position: relative;
    overflow: hidden;
    background-color: white;
    border: 1px solid #ccc;
    box-sizing: border-box;
    color: black;
    font-size: small;
    cursor: default;
    outline: none;
    padding: 4px 52px 4px 10px;
    transition: all 200ms ease;
}

.Dropdown-control:hover {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}

.Dropdown-arrow {
    border-color: gray transparent transparent;
    border-style: solid;
    border-width: 4px 4px 0;
    content: " ";
    display: block;
    height: 0;
    margin-top: -ceil(2.5);
    position: absolute;
    right: 10px;
    top: 11px;
    width: 0;
}

.is-open .Dropdown-arrow {
    border-color: transparent transparent gray;
    border-width: 0 4px 4px;
}

.Dropdown-menu {
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    margin-top: -1px;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1000;
    -webkit-overflow-scrolling: touch;
}

.Dropdown-menu .Dropdown-group > .Dropdown-title {
    padding: 8px 10px;
    color: black;
    font-weight: bold;
    text-transform: capitalize;
}

.Dropdown-option {
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: block;
    padding: 8px 10px;
}

.Dropdown-option:last-child {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.Dropdown-option:hover {
    background-color: rgb(138, 141, 141);
    color: black;
}

.Dropdown-option.is-selected {
    background-color: rgb(128, 120, 141);
    color: black;
}

.Dropdown-noresults {
    box-sizing: border-box;
    color: black;
    cursor: default;
    display: block;
    padding: 8px 10px;
}
