.RichEditor-root {
    background: #fff;
    border: 1px solid #ddd;
    /* font-family: "Georgia", serif; */
    font-size: 14px;
}

.RichEditor-editor {
    width: 100%;
    height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    cursor: text;
    font-size: 14px;
    padding-left: 4px;
    padding-right: 4px;
}

.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
    margin: 0 -15px -15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
}

.RichEditor-editor .public-DraftEditor-content {
    min-height: 100px;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
    display: none;
}

.RichEditor-editor .RichEditor-blockquote {
    border-left: 5px solid #eee;
    color: #666;
    font-family: "Hoefler Text", "Georgia", serif;
    font-style: italic;
    margin: 16px 0;
    padding: 10px 20px;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
    background-color: rgba(0, 0, 0, 0.05);
    font-family: "Inconsolata", "Menlo", "Consolas", monospace;
    font-size: 16px;
    padding: 20px;
}

.RichEditor-controls {
    font-family: "Helvetica", sans-serif;
    font-size: 14px;
    padding-left: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 4px;
    user-select: none;
}

.RichEditor-styleButton {
    color: #999;
    cursor: pointer;
    margin-right: 16px;
    padding: 2px 0;
    display: inline-block;
}

.RichEditor-activeButton {
    color: #5890ff;
}

.Richeditor-counter {
    color: black;
    width: 100%;
}
