@media screen and (max-width: 426px) {
    .carousel-featured {
        height: 300px !important;
    }
    .carousel-apartment {
        height: 250px !important;
    }
    .slick-dots {
        bottom: -12px !important;

        li button {
            border: 1px solid gray !important;
            height: 4px !important;
            width: 4px !important;
        }

        li.slick-active button {
            background: gray !important;
        }
    }

    .access_opportunities_section {
        .rm-hero-slider {
            & > div {
                height: 45vh!important;
            }
        }
    }

    #headPart {
        .rm-hero-slider {
            & > div {
                height: 100vh!important;
            }
        }
    }

    #imageSizes-HIW {
        width: 60%!important;
    }

    #imageSizes-HIW2 {
        width: 50%!important;
    }

    #imageSizes-HIW3 {
        width: 50%!important;
    }

    #imageSize-HIW-arrow-down {
        width: 8%!important;
    }

    #imageSize-HIW-main-cover {
        height: 80%!important;
    }

    #imageSize-HIW-main{
        height: 27rem!important;
    }
}


  @media only screen and (max-device-width: 500px) and (max-device-height: 900px) {
    .phone {
      width: -webkit-fit-content !important;
    }
  }



@media only screen and (max-device-width: 500px) and (max-device-height: 800px){
    .mvFooterText {
        margin-bottom: 6rem;
    }
}



  @media screen and (min-device-width: 580px) {
    #discountBanner {
        @apply -mr-32;

    }
  }

@media screen and (min-width: 1024px) {
    #imageSizes-HIW {
        width: 25rem!important;
    }

    #imageSizes-HIW2 {
        width: 18rem!important;
    }

    #imageSizes-HIW3 {
        width: 22rem!important;
    }

    #imageSize-HIW-arrow-down {
        width: 4rem!important;
    }
}


//For Iphone 6/7/8
@media screen and (max-height: 667px) {
    h2.learn-more-landing {
        margin-top: 1rem!important
    }

    span.banner-text-landing {
        margin-top: 6rem!important;
    }
}

//Custom styles for very low-res screens
@media screen and (min-width: 1366px) and (max-width: 1919px) {
    #imageSizes-HIW {
        width: 22rem!important;
    }

    #imageSizes-HIW2 {
        width: 15rem!important;
    }

    #imageSizes-HIW3 {
        width: 18rem!important;
    }

    img.hiw-arrow-down {
        width: 3rem!important;
    }

    span.how-it-works-header {
        font-size: 4rem!important;
    }
}

//Custom styles for very hi-res screens
@media screen and (min-width: 1920px) {
    span.banner-text-landing {
        margin-top: 0!important;
    }

    .max-content-width {
        max-width: 1336px!important;
    }

    .max-content-width-lg {
        max-width: 1625px!important;
    }

    .custom-navbar {
        font-size: 1rem!important;
    }

    .main-header-logo {
        height: 80px!important;
    }

    div.the-more-section {
        padding-left: 12rem!important;
        padding-right: 12rem!important;
    }

    #HowItWorksHero{
        #imageSize-HIW-main{
            height: 100vh!important;
        }

        #heroSectionContent{
            height: 100vh!important;
        }

        #heroSectionPosition{
            margin-right: 17rem!important;
            margin-top: 21rem!important;
        }

        #heroSectionMainHeading{
            font-size: 6rem!important;
        }

        #heroSectionSubHeading{
            font-size: 1.3rem!important;
        }
    }

    #JoinUsBGpos{
        background-position-x: right!important;
        background-position-y: inherit!important;
    }

    .joinUsContent{
        margin-left: 13rem!important;
        margin-right: 13rem!important;
    }

    #joinUsFormSize{
        margin-right: 25.5rem!important;
        margin-left: 25.5rem!important;
        border-radius: 1.2rem!important;
    }
    
}

@media screen and (min-width: 1024px) and (min-resolution:96dpi) and (max-resolution:143dpi) {
    body {
        zoom: 0.75!important;
    }

    h2.learn-more {
        margin-top: 1rem!important;
    }

    h2.learn-more-landing {
        margin-top: 5rem!important;
    }

    div.dev-registration-form{
        zoom: 1!important;
    }

    img.main-header-logo{
        height: 70px!important;
    }

    a.developer-agent-btn {
        font-size: 1rem!important;
    }

    span.main-banner-header {
        margin-top: 11rem!important;
    }

    #headPart {
        .rm-hero-slider {
            & > div {
                height: 135vh!important;
            }
        }
    }
}

@media (min-width: 1024px) and (min-resolution:144dpi){
    body{
        zoom: 0.7!important;
    }

    div.dev-registration-form{
        zoom: 1!important;
    }

    img.main-header-logo{
        height: 60px!important;
        height: 75px!important;
        margin-left: 1rem!important;
    }

    p.under-construction-banner-message{
        padding-left: 0%!important;
        padding-right: 0%!important;
        margin-top: 2rem!important;
        margin-bottom: 2rem!important;
    }

    span.banner-slogan{
        margin-top: 0%!important;
        font-size: 5.5rem!important;
    }

    div.banner-container{
        margin-top: 230px!important;
    }

    h2.learn-more{
        margin-top: 16px!important;
    }
    h2.full-website-coming-soon{
        margin-top: 15px!important;
    }

    a.developer-agent-btn {
        font-size: 1rem!important;
    }

    h.ful-website-coming-soon{
        margin-top: 1.25rem!important;
    }
}

//100% 1920 resolution
@media screen and (min-width: 1920px) and (min-resolution:96dpi) and (max-resolution:143dpi) { 
    body{
        zoom: 1!important;
    }

    div.banner-container{
        margin-top: 16.5rem !important;
    }
}





