
.pagination {
    @apply flex items-center;

    .page-item {
        @apply flex items-center justify-center;

        &.active .page-link,
        &:not(.active):hover .page-link {
            @apply text-white bg-gray-600 rounded;
            transition: all ease 0.3s;
        }

        .page-link {
            @apply text-gray-600 font-bold  text-base;
            width: 2rem;
            height: 2rem;
        }
    }
}

.page-size-select {
    @apply font-bold text-gray-600 cursor-pointer;
    margin-left: 8px;
    padding-right: 8px;
    border-color: rgba(0,0,0,0.5);
    font-size: 14px;
}
