// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

@import "fonts";
@import "table";
@import "variables";

// @import '~bootstrap/scss/bootstrap';
@import "~pretty-checkbox/src/pretty-checkbox";
@import "~slick-carousel/slick/slick";
@import "~slick-carousel/slick/slick-theme";

@tailwind base;

* {
    outline: none !important;
}
div.lazyload-placeholder{
    height: 0%!important;
}

html, body
{
    height: 100%!important;
}


body {
    font-family: "Sofia Pro", sans-serif;
    font-size: 13px;
    padding: 0 !important;
    margin: 0 !important;
    width: 100%!important;
    height: 100%!important;
    -webkit-font-smoothing: antialiased !important;
    -moz-transform: scale(0.85, 0.85); /* Moz-browsers */
     /* Other non-webkit browsers */
     /* Webkit browsers */
    // --transform-scale-x: .75;
    // --transform-scale-y: .75;
}

 
 

.MuiDialogContent-root{
    height: 100%;
    background-color: #4D0B98;
}

.MuiSvgIcon-root{
    font-size: 2rem!important;
}

.MuiDialogTitle-root{
    background-color: #4D0B98;
}

#loadingDiv {

    width: 100%!important;
    height: 100%!important;
}

#expYear {
    border: none !important;
}

#expMonth {
    border: none !important;
}

.gm-ui-hover-effect {
    display: none !important;
}

#smsLink {
    text-decoration: none !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.fb_dialog_content {
    bottom: 20px !important;
}

#_form_3_ {
    font-size: 16px;
    font-weight: 200;
    line-height: 1.6;
    font-family: "Sofia Pro", sans-serif;
    margin: 0;
}
#_form_3_ * {
    outline: 0;
}
._form_hide {
    display: none;
    visibility: hidden;
}
._form_show {
    display: block;
    visibility: visible;
}
#_form_3_._form-top {
    top: 0;
}
#_form_3_._form-bottom {
    bottom: 0;
}
#_form_3_._form-left {
    left: 0;
}
#_form_3_._form-right {
    right: 0;
}
#_form_3_ input[type="text"],
#_form_3_ input[type="email"],
#_form_3_ input[type="date"],
#_form_3_ textarea {
    padding: 6px !important;
    font-size: 18px !important;
    height: auto;
    border: #979797 1px solid;
    border-radius: 4px;
    color: #000 !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#_form_3_ textarea {
    resize: none;
}
#_form_3_ ._submit {
    -webkit-appearance: none;
    cursor: pointer;
    font-weight: 400 !important;
    font-family: "Sofia Pro", sans-serif;
    font-size: 18px;
    text-align: center;
    background: #bd00f2 !important;
    border: 0 !important;
    -moz-border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
    border-radius: 4px !important;
    color: #fff !important;
    padding: 10px !important;
}
#_form_3_ ._close-icon {
    cursor: pointer;
    background-image: url("https://d226aj4ao1t61q.cloudfront.net/esfkyjh1u_forms-close-dark.png");
    background-repeat: no-repeat;
    background-size: 14.2px 14.2px;
    position: absolute;
    display: block;
    top: 11px;
    right: 9px;
    overflow: hidden;
    width: 16.2px;
    height: 16.2px;
}
#_form_3_ ._close-icon:before {
    position: relative;
}
#_form_3_ ._form-body {
    margin-bottom: 30px;
}
#_form_3_ ._form-image-left {
    width: 150px;
    float: left;
}
#_form_3_ ._form-content-right {
    margin-left: 164px;
}
#_form_3_ ._form-branding {
    color: #fff;
    font-size: 10px;
    clear: both;
    text-align: left;
    margin-top: 30px;
    font-weight: 100;
}
#_form_3_ ._form-branding ._logo {
    display: block;
    width: 130px;
    height: 14px;
    margin-top: 6px;
    background-image: url("https://d226aj4ao1t61q.cloudfront.net/hh9ujqgv5_aclogo_li.png");
    background-size: 130px auto;
    background-repeat: no-repeat;
}
#_form_3_ ._form-label,
#_form_3_ ._form_element ._form-label {
    font-weight: 500 !important;
    margin-bottom: 5px;
    display: block;
    color: rgb(255, 255, 255);
}
#_form_3_._dark ._form-branding {
    color: #333;
}
#_form_3_._dark ._form-branding ._logo {
    background-image: url("https://d226aj4ao1t61q.cloudfront.net/jftq2c8s_aclogo_dk.png");
}
#_form_3_ ._form_element {
    position: relative;
    margin-bottom: 10px;
    font-size: 0;
    max-width: 100%;
}
#_form_3_ ._form_element * {
    font-size: 16px;
    font-weight: 200;
}
#_form_3_ ._form_element._clear {
    clear: both;
    width: 100%;
    float: none;
}
#_form_3_ ._form_element._clear:after {
    clear: left;
}
#_form_3_ ._form_element input[type="text"],
#_form_3_ ._form_element input[type="email"],
#_form_3_ ._form_element input[type="date"],
#_form_3_ ._form_element select,
#_form_3_ ._form_element textarea:not(.g-recaptcha-response) {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#_form_3_ ._field-wrapper {
    position: relative;
}
#_form_3_ ._inline-style {
    float: left;
}
#_form_3_ ._inline-style input[type="text"],
#_form_3_ ._inline-style input[type="email"] {
    width: 150px;
}
#_form_3_ ._inline-style:not(._clear) + ._inline-style:not(._clear) {
    margin-left: 20px;
}
#_form_3_ ._form_element img._form-image {
    max-width: 100%;
}
#_form_3_ ._clear-element {
    clear: left;
}
#_form_3_ ._full_width {
    width: 100%;
}
#_form_3_ ._form_full_field {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
#_form_3_ input[type="text"]._has_error,
#_form_3_ input[type="email"]._has_error,
#_form_3_ textarea._has_error {
    border: #f37c7b 1px solid;
}
#_form_3_ input[type="checkbox"]._has_error {
    outline: #f37c7b 1px solid;
}
#_form_3_ ._error {
    display: block;
    position: absolute;
    font-size: 16px;
    z-index: 10000001;
}
#_form_3_ ._error._above {
    padding-bottom: 4px;
    bottom: 39px;
    right: 0;
}
#_form_3_ ._error._below {
    padding-top: 4px;
    top: 100%;
    right: 0;
}
#_form_3_ ._error._above ._error-arrow {
    bottom: 0;
    right: 15px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #f37c7b;
}
#_form_3_ ._error._below ._error-arrow {
    top: 0;
    right: 15px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #f37c7b;
}
#_form_3_ ._error-inner {
    padding: 8px 12px;
    background-color: #f37c7b;
    font-size: 16px;
    font-family: "Sofia Pro", sans-serif;
    color: #fff;
    text-align: center;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#_form_3_ ._error-inner._form_error {
    margin-bottom: 5px;
    text-align: left;
}
#_form_3_ ._button-wrapper ._error-inner._form_error {
    position: static;
}
#_form_3_ ._error-inner._no_arrow {
    margin-bottom: 10px;
}
#_form_3_ ._error-arrow {
    position: absolute;
    width: 0;
    height: 0;
}
#_form_3_ ._error-html {
    margin-bottom: 10px;
}
.pika-single {
    z-index: 10000001 !important;
}
#_form_3_ input[type="text"].datetime_date {
    width: 69%;
    display: inline;
}
#_form_3_ select.datetime_time {
    width: 29%;
    display: inline;
    height: 32px;
}
@media all and (min-width: 320px) and (max-width: 667px) {
    ::-webkit-scrollbar {
        display: none;
    }
    #_form_3_ {
        margin: 0;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        box-sizing: border-box;
    }
    #_form_3_ * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        font-size: 1em;
    }
    #_form_3_ ._form-content {
        margin: 0;
        width: 100%;
    }
    #_form_3_ ._form-inner {
        display: block;
        min-width: 100%;
    }
    #_form_3_ ._form-title,
    #_form_3_ ._inline-style {
        margin-top: 0;
        margin-right: 0;
        margin-left: 0;
    }
    #_form_3_ ._form-title {
        font-size: 1.2em;
    }
    #_form_3_ ._form_element {
        margin: 0 0 20px;
        padding: 0;
        width: 100%;
    }
    #_form_3_ ._form-element,
    #_form_3_ ._inline-style,
    #_form_3_ input[type="text"],
    #_form_3_ input[type="email"],
    #_form_3_ label,
    #_form_3_ p,
    #_form_3_ textarea:not(.g-recaptcha-response) {
        float: none;
        display: block;
        width: 100%;
    }
    #_form_3_ ._row._checkbox-radio label {
        display: inline;
    }
    #_form_3_ ._row,
    #_form_3_ p,
    #_form_3_ label {
        margin-bottom: 0.7em;
        width: 100%;
    }
    #_form_3_ ._row input[type="checkbox"],
    #_form_3_ ._row input[type="radio"] {
        margin: 0 !important;
        vertical-align: middle !important;
    }
    #_form_3_ ._row input[type="checkbox"] + span label {
        display: inline;
    }
    #_form_3_ ._row span label {
        margin: 0 !important;
        width: initial !important;
        vertical-align: middle !important;
    }
    #_form_3_ ._form-image {
        max-width: 100%;
        height: auto !important;
    }
    #_form_3_ input[type="text"],
    #_form_3_ input[type="email"] {
        padding-left: 10px;
        padding-right: 10px;
        line-height: 1.3em;
        -webkit-appearance: none;
    }
    #_form_3_ input[type="radio"],
    #_form_3_ input[type="checkbox"] {
        display: inline-block;
        width: 1.3em;
        height: 1.3em;
        font-size: 1em;
        margin: 0 0.3em 0 0;
        vertical-align: baseline;
    }
    #_form_3_ button[type="submit"] {
        padding: 20px;
        font-size: 1.5em;
    }
    #_form_3_ ._inline-style {
        margin: 20px 0 0 !important;
    }
}
#_form_3_ {
    position: relative;
    text-align: left;
    margin: 25px auto 0;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    *zoom: 0.8!important;
    border: 0px solid #b0b0b0 !important;
    width: 500px;
    -moz-border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    border-radius: 5px !important;
    color: #000 !important;
}
#_form_3_ ._form-title {
    font-size: 22px;
    line-height: 22px;
    font-weight: 600;
    margin-bottom: 0;
}
#_form_3_:before,
#_form_3_:after {
    content: " ";
    display: table;
}
#_form_3_:after {
    clear: both;
}
#_form_3_._inline-style {
    width: auto;
    display: inline-block;
}
#_form_3_._inline-style input[type="text"],
#_form_3_._inline-style input[type="email"],
#_form_3_._inline-style input[type="date"] {
    padding: 10px 12px;
}
#_form_3_._inline-style button._inline-style {
    position: relative;
    top: 27px;
}
#_form_3_._inline-style p {
    margin: 0;
}
#_form_3_._inline-style ._button-wrapper {
    position: relative;
    margin: 27px 12.5px 0 20px;
}
#_form_3_ ._form-thank-you {
    position: relative;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 18px;
}
@media all and (min-width: 320px) and (max-width: 568px) {
    #_form_3_._inline-form._inline-style ._inline-style._button-wrapper {
        margin-top: 20px !important;
        margin-left: 0 !important;
    }
}

.Dropdown-placeholder {
    font-size: 14px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.fb_reset {
    zoom: 115% !important;
}

.react-datepicker-ignore-onclickoutside {
    font-size: 15px !important;
}

.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
    padding-left: 20px !important;
}

#proposed_settlement {
    font-size: 14px !important;
}

.gb-multi-select .input-select__control .input-select__value-container {
    height: 20px !important;
}

#apartment-heading {
    font-family: "DancingScript-Regular";
    font-weight: normal;
    font-style: normal;
}

.MuiToolbar-regular {
    background-color: #000033;
}

.fb_dialog_content > iframe {
    bottom: 50px !important;
    right: 10px !important;
    box-shadow: none !important;
}

b,
strong,
.font-bold {
    font-family: "Sofia Pro Bold", sans-serif;
}

.billingAddress p {
    color: white !important;
}

.font-light {
    font-family: "Sofia Pro Light", sans-serif;
}

a {
    @apply transition-all duration-300;
    text-decoration: none !important;
}

p {
    margin-bottom: 14px;
}

.bg-blend-overlay {
    background-blend-mode: overlay;
}

.bg-blend-screen {
    background-blend-mode: screen;
}

.feather-icon {
    width: 16px;
    height: 16px;
    fill: none;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.button {
    @apply text-base rounded-full font-bold px-12 py-2 transition-all duration-300;

    &.button-primary {
        @apply bg-palette-purple text-white;

        &:hover {
            @apply bg-palette-violet;
        }
    }

    &.button-secondary {
        @apply border border-white text-white;

        &:hover {
            @apply bg-white text-palette-blue-dark;
        }
    }

    &:disabled {
        @apply bg-gray-500;
        pointer-events: none;
    }
}

.pretty.remember_me .state label:before {
    background: #c8c8c8 !important;
    border: none !important;
}

.pretty.landing_checkbox .state label:before {
    background: #ffffff5c !important;
    border: none !important;
}

.pretty.landing_checkbox_dark .state label:before {
    background: #dadada5c !important;
    border: none !important;
}

.slick-dots {
    bottom: 12px !important;

    li {
        height: unset !important;
        width: unset !important;
        margin: 0 4px !important;

        button {
            background: transparent !important;
            height: 6px !important;
            width: 6px !important;
            border-radius: 50%;
            border: 1px solid white !important;

            &:before {
                content: "" !important;
            }
        }

        &.slick-active button {
            background: rgba(255, 255, 255, 1) !important;
        }
    }
}

.home-deals .slick-slider {
    .slick-list {
        overflow: unset !important;

        .slick-slide {
            @apply relative;
            transition: all ease 0.3s;

            &.slick-current + .slick-slide.slick-active {
                transform: scale(1.15);
                @apply z-20;

                .item {
                    box-shadow: 0 2px 33px 0 rgba(0, 0, 0, 0.8);
                }
            }
        }
    }

    .slick-dots {
        bottom: -45px !important;

        li {
            height: unset !important;
            width: unset !important;

            button {
                background: rgba(255, 255, 255, 0.5) !important;
                height: 10px !important;
                width: 10px !important;
                border-radius: 50%;
            }

            &.slick-active button {
                background: rgba(255, 255, 255, 1) !important;
            }
        }
    }
}

.carousel-featured {
    height: 550px !important;
}

.carousel-apartment {
    height: 300px !important;
}

.MuiDialog-scrollBody::-webkit-scrollbar {
    display: none;
}

.gb-multi-select {
    .input-select__control,
    .input-select__control--is_focused {
        height: 100% !important;
        min-height: unset !important;
        border: none !important;
        box-shadow: none !important;
        padding: 0.5rem 0.75rem !important;
        cursor: pointer !important;

        .input-select__value-container {
            @apply p-0;
            flex-wrap: nowrap !important;
            margin-right: 10px !important;
            height: 36px !important;

            .input-select__placeholder,
            .input-select__single-value {
                @apply m-0 text-base text-gray-500 relative;
                transform: none !important;
                top: unset !important;
            }

            .input-select__multi-value {
                background: hsl(0, 0%, 94%) !important;
                min-width: unset !important;

                .input-select__multi-value__label {
                    @apply text-gray-600 text-sm;
                }

                .input-select__multi-value__remove:hover {
                    background: none !important;
                }
            }
        }

        .input-select__indicators {
            @apply relative;

            .input-select__indicator {
                @apply p-0;

                &.input-select__clear-indicator {
                    @apply bg-white absolute;
                }
            }

            .input-select__indicator-separator {
                @apply hidden;
            }
        }
    }

    .input-select__menu {
        @apply border-2;
        margin: 0 !important;
        border-radius: 0 !important;
        box-shadow: none !important;
        padding: 0 !important;
        width: calc(100% + 4px);
        left: -2px !important;

        .input-select__menu-list {
            padding: 0 !important;

            .input-select__option {
                font-size: 16px !important;
                display: flex;
                align-items: center;
                cursor: pointer;

                &:before {
                    content: url("/assets/svg/filter-checkbox-unchecked.svg");
                    display: inline-block;
                    width: 18px;
                    height: 18px;
                    margin-right: 8px;
                }

                &:active,
                &--is-selected {
                    @apply text-gray-600;
                    background: none !important;

                    &:before {
                        content: url("/assets/svg/filter-checkbox-checked.svg");
                        display: inline-block;
                        width: 18px;
                        height: 18px;
                        margin-right: 8px;
                    }

                    &:hover {
                        background: #deebff !important;
                    }
                }
            }
        }
    }
}

.description-list ul {
    @apply list-disc mb-6 pl-6;
}

.menu-list {
    * {
        font-family: "Sofia Pro", sans-serif !important;
        letter-spacing: unset !important;
    }

    .MuiListItem-button:hover {
        @apply text-palette-purple;
    }
}

.swal2-container {
    display: -webkit-box;
    display: flex;
    position: fixed;
    z-index: 300000 !important;

    .swal2-title {
        @apply text-3xl mb-0 leading-tight text-palette-blue-dark;
        font-family: "Sofia Pro Bold", sans-serif;
    }

    .swal2-content {
        @apply mt-4;
    }

    .swal2-styled {
        border-radius: 30px !important;
        padding: 8px 40px !important;
        font-size: 16px !important;
        font-family: "Sofia Pro Bold", sans-serif !important;
        border-width: 1px;

        &:focus {
            box-shadow: unset !important;
        }

        &.swal2-cancel {
            background: transparent !important;
            border: 1px solid #000 !important;
            color: #000 !important;
            opacity: 0.5 !important;
        }
    }
}

.phone {
    margin-top: 0.75rem !important;
    margin-bottom: 0.75rem !important;
    align-items: center;
    justify-items: center;
    font-size: large;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
}

.mvFooterText {
    font-size: small;
    text-align: center;
    margin-bottom: 5rem;
}

.marker {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 18px;
    background-color: #000;
    border: 2px solid #fff;
    border-radius: 100%;
    user-select: none;
    transform: translate(-50%, -50%);

    &:hover {
        z-index: 1;
    }
}

#discountBanner {
    align-items: center!important;
    padding-left: 0.75rem!important;
    padding-right: 0.75rem!important;
    padding-top: 0.25rem!important;
    padding-bottom: 0.25rem!important;
    @apply items-center;
    @apply -mr-16;
}

.slide-button-horizontal {
    z-index: 10!important;
}

div.easy-step-container {
    &:hover {
        .easy-step-number {
            color: #E91AFC!important;
        }
        .easy-step-text {
            color: #211B24!important;
        }
    }
}

#howitworks-how-we-proceed{
    div.lazyload-placeholder{
        height: 0%!important;
    }
}


@import "responsive";

@tailwind components;

@tailwind utilities;
